{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'login-customer.css' | asset_url | stylesheet_tag }}

<div class="customer login otp-login-app" id="OTPLoginApp">
  {% section 'login-step-one' %}
  {% section 'login-step-two-three' %}
</div>

<script>
  if (document.querySelector("#OTPLoginApp")) {
    const OTPLoginApp = Vue.createApp({
      delimiters: [
        "${", "}"
      ],
      data() {
        return {
          phone: "",
          numOne: "",
          numTwo: "",
          numThree: "",
          numFour: "",
          numFive: "",
          numSix: ""
        };
      },

      methods: {
        handleReqOtp() {
          console.log("reqOTP");

          if (this.phone.startsWith("0")) {
            this.phone = this.phone.replace("0", "+62");
          }

          axios
            .post("https://dev-api-mretail.pintap.id/api/v1/auth/otp/send", {
              phone: this.phone,
              channel: "sms"
            })
            .then((res) => {
              console.log(res.data.message);
            })
            .catch((err) => {
              console.log(err);
            });
        },

        handleResendOtp() {
          console.log("soon!");
        },

        handleConfirmOtp() {
          const joinNum = [
            this.numOne,
            this.numTwo,
            this.numThree,
            this.numFour,
            this.numFive,
            this.numSix
          ].join("");

          axios
            .post("https://dev-api-mretail.pintap.id/api/v1/auth/otp/confirm", {
              phone: this.phone,
              otp: joinNum
            })
            .then((res) => {
              console.log(res
                .data
                .data
                .token);

              localStorage.setItem("token", res
                .data
                .data
                .token);

              alert("OTP Confirmed.");
            })
            .catch((err) => {
              console.log(err);
            });
        },

        goToStepTwoFromStepOne() {
          if (this.phone === "") {
            this.phone === "" && alert("Phone must be filled");
          } else {
            const eStepOne = document.querySelector("#OTPStepOne");
            const eStepTwo = document.querySelector("#OTPStepTwo");
            if (eStepTwo.classList.contains("hidden")) {
              eStepOne.classList.add("hidden");
              eStepTwo.classList.remove("hidden");
              eStepTwo.classList.add("block");
            }
          }
        },

        goToStepThreeFromStepTwo() {
          const eStepTwo = document.querySelector("#OTPStepTwo");
          const eStepThree = document.querySelector("#OTPStepThree");
          if (eStepThree.classList.contains("hidden")) {
            eStepTwo.classList.add("hidden");
            eStepThree.classList.remove("hidden");
            eStepThree.classList.add("block");
          }
        },

        backToStepOneFromTwo() {
          const eStepOne = document.querySelector("#OTPStepOne");
          const eStepTwo = document.querySelector("#OTPStepTwo");
          if (eStepOne.classList.contains("hidden")) {
            eStepTwo.classList.add("hidden");
            eStepOne.classList.remove("hidden");
            eStepOne.classList.add("block");
          }
        },

        backToStepTwoFromThree() {
          const eStepTwo = document.querySelector("#OTPStepTwo");
          const eStepThree = document.querySelector("#OTPStepThree");
          if (eStepTwo.classList.contains("hidden")) {
            eStepThree.classList.add("hidden");
            eStepTwo.classList.remove("hidden");
            eStepTwo.classList.add("block");
          }
        }
      }
    });

    OTPLoginApp.mount("#OTPLoginApp");

  }

  const clickEvent = (first, last) => {
    if (first.value.length) {
      document.getElementById(last).focus();
    }
  }
</script>
