{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'login-customer.css' | asset_url | stylesheet_tag }}

<div class="customer login otp-login-app" id="OTPLoginApp">
  {% section 'login-step-one' %}
  {% section 'login-step-four' %}
</div>

<script>
  if (document.querySelector("#OTPLoginApp")) {
    const OTPLoginApp = Vue.createApp({
      delimiters: [
        "${", "}"
      ],
      data() {
        return {
          URL: "https://dev-api-mretail.pintap.id",

          phone: null,
          email: null,
          password: null,

          mismatchAuth: false,
          loading: false,

          checkCustomer: false
        };
      },

      watch: {
        phone() {
          this.mismatchAuth = false;
        },
        password() {
          this.mismatchAuth = false;
        }
      },

      methods: {
        handleAuth() {
          if (this.phone.startsWith("0")) {
            this.phone = this.phone.replace("0", "+62");
          }

          axios
            .post(`${
              this.URL
            }/OAuth/token`, {
              phone: this.phone,
              password: this.password
            })
            .then((res) => {
              if (res.data.message === `password doesn't match with username`) {
                this.mismatchAuth = true;
              }

              if (res.data.message === `username not found`) {
                this.checkCustomer = true;
                this.phone = null;
                this.password = null;
              }

              if (res.data.code === 0) {
                axios
                  .get(`${
                    this.URL
                  }/api/v1/profile/email?phone=${
                    this.phone
                  }`)
                  .then((res) => {
                    if (res.data.code === 404) {
                      this.checkCustomer = true;
                      this.phone = null;
                      this.password = null;
                    }

                    if (res.data.code === 0) {
                      this.email = res
                        .data
                        .data
                        .email;
                      this.goToStepFourFromOne();
                    }
                  })
                  .catch((err) => {
                    console.log(err);
                  });
              }
            })
            .catch((err) => {
              console.log(err);
            });
        },

        goToStepFourFromOne() {
          window.scrollTo(0, 0);
          const eStepOne = document.querySelector("#OTPStepOne");
          const eStepFour = document.querySelector("#OTPStepFour");
          if (eStepFour.classList.contains("hidden")) {
            eStepOne.classList.add("hidden");
            eStepFour.classList.remove("hidden");
            eStepFour.classList.add("block");
          }
        }
      }
    });

    OTPLoginApp.mount("#OTPLoginApp");

  }

  const clickEvent = (first, last) => {
    if (first.value.length) {
      document.getElementById(last).focus();
    }
  }

  function restrictKey(evt) {
    var theEvent = evt || window.event;

    if (theEvent.type === "paste") {
      key = event.clipboardData.getData("text/plain");
    } else {
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
    }

    var regex = /^[\d ()+-]+$/;

    if (! regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) {
        theEvent.preventDefault();
      }
    }
  }
</script>