{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'register-customer.css' | asset_url | stylesheet_tag }}

<div class="customer register register-app" id="RegisterApp">
  {% section 'register-step-one' %}
  {% section 'register-step-two' %}
</div>

<script>
  if (document.querySelector("#RegisterApp")) {
    const RegisterApp = Vue.createApp({
      delimiters: [
        "${", "}"
      ],
      data() {
        return {fullname: "", phone: "", email: "", birthdate: "", gender: ""};
      },

      methods: {
        handleRegisterCustomer() {
          if (this.phone.startsWith("0")) {
            this.phone = this.phone.replace("0", "+62");
          }
          const data = {
            fullname: this.fullname,
            phone: this.phone,
            email: this.email,
            birthdate: this.birthdate,
            gender: this.gender
          };

          console.log(data);
        },

        goToStepTwoFromStepOne() {
          const eStepOne = document.querySelector("#RegisterStepOne");
          const eStepTwo = document.querySelector("#RegisterStepTwo");
          if (eStepTwo.classList.contains("hidden")) {
            eStepOne.classList.add("hidden");
            eStepTwo.classList.remove("hidden");
            eStepTwo.classList.add("block");
          }

        }
      }
    });

    RegisterApp.mount("#RegisterApp");

  }

  function restrictKey(evt) {
    var theEvent = evt || window.event;

    if (theEvent.type === "paste") {
      key = event.clipboardData.getData("text/plain");
    } else {
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
    }

    var regex = /^[\d ()+-]+$/;

    if (! regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) {
        theEvent.preventDefault();
      }
    }
  }
</script>