<div class="hidden" id="OTPStepResetTwo">
  <h1>Verifikasi No HP</h1>
  <p>Verifikasi bertujuan untuk menjaga keamanan data Anda. Silakan pilih cara verifikasi akun Anda.</p>

  <div class="select-field">
    <form @submit.prevent="handleReqOtp('call')">
      <input class="hidden" type="text" v-model="phone" />
      <button :disabled="isLoadingBtn" class="select-otp" type="submit">Missed Call</button>
    </form>

    <form @submit.prevent="handleReqOtp('sms')">
      <input class="hidden" type="text" v-model="phone" />
      <button :disabled="isLoadingBtn" class="select-otp" type="submit">SMS</button>
    </form>
  </div>

  <a @click.prevent="backToStepResetOneFromResetTwo" href="#">Kembali</a>
</div>
