<div class="hidden" id="OTPStepResetOne">

  <h2 v-if="resetPswText">Atur ulang kata sandi</h2>
  <h2 v-else>
    Anda perlu mengatur ulang kata sandi
  </h2>

  <form @submit.prevent="handlePhone">
    <div class="field">
      <input
        id="RecoverPhone"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Harap masukkan No HP')"
        onkeypress="restrictKey(event)"
        pattern=".*\S+.*"
        placeholder="No HP"
        required
        type="text"
        v-model="phone">
      <label for="RecoverPhone">No HP</label>
    </div>
    <button type="submit">Lanjut</button>
  </form>

  <a @click.prevent="backToStepOneFromResetOne" href="#">Kembali</a>
</div>
