<div class="hidden" id="OTPStepResetFour">
  <h2>Masukkan password baru anda</h2>

  <form @submit.prevent="handleResetPassword">
    <div class="field">
      <input
        :class="[mismatchPass ? 'error' : '']"
        :title="pswValidation"
        id="ResetPassword"
        oninput="this.setCustomValidity('')"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        placeholder="Kata Sandi"
        required
        type="password"
        v-model="resetPassword" />
      <label for="CustomerPassword">
        Kata Sandi
      </label>
    </div>

    <div class="field">
      <input
        :class="[mismatchPass ? 'error' : '']"
        :title="pswValidation"
        id="ResetPasswordConfirm"
        oninput="this.setCustomValidity('')"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        placeholder="Konfirmasi Kata Sandi"
        required
        type="password"
        v-model="resetPasswordConfirm" />
      <label for="CustomerPassword">
        Konfirmasi Kata Sandi
      </label>
    </div>
    <p class="fail-text" v-if="mismatchPass">Untuk konfirmasi, harap masukkan kata sandi yang sama.</p>
    <p class="success-text" v-if="matchPass">Atur ulang kata sandi berhasil. Silahkan login kembali.</p>
    <button :disabled="isLoadingBtn" type="submit" v-if="!matchPass">
      Kirim
    </button>
  </form>
</div>
