<div class="hidden" id="OTPStepPsw">
  <!-- <div class="" id="OTPStepPsw"> -->

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="email">
      <label for="email">Email</label>
      <input name="email" type="email">
    </div>

    <div class="submit">
      <input type="submit" value="Submit">
    </div>
  {% endform %}

</div>
