<div class="hidden" id="OTPStepResetThree">
  <h1>Konfirmasi Kode Verifikasi</h1>
  <p v-if="typeOTP === 'sms'">Harap masukkan kode verifikasi yang kami kirim ke ${phone} melalui SMS</p>
  <p v-if="typeOTP === 'call'">Kami telah mengirimkan panggilan ke nomor ${phone}. Tidak perlu diangkat. Masukkan 6 digit terakhir dari panggilan tersebut.</p>

  <form
    @submit.prevent="handleRegisterConfirmOtp"
    autocomplete="off"
    class="input-otp">
    <input
      @change="failOTP = false"
      id="first"
      inputmode="numeric"
      maxlength="1"
      onkeypress="restrictKey(event)"
      onkeyup="clickEvent(this,'second')"
      pattern="[0-9]"
      type="text"
      v-model="numOne">
    <input
      @change="failOTP = false"
      id="second"
      inputmode="numeric"
      maxlength="1"
      onkeypress="restrictKey(event)"
      onkeyup="clickEvent(this,'third')"
      pattern="[0-9]"
      type="text"
      v-model="numTwo">
    <input
      @change="failOTP = false"
      id="third"
      inputmode="numeric"
      maxlength="1"
      onkeypress="restrictKey(event)"
      onkeyup="clickEvent(this,'fourth')"
      pattern="[0-9]"
      type="text"
      v-model="numThree">
    <input
      @change="failOTP = false"
      id="fourth"
      inputmode="numeric"
      maxlength="1"
      onkeypress="restrictKey(event)"
      onkeyup="clickEvent(this,'fifth')"
      pattern="[0-9]"
      type="text"
      v-model="numFour">
    <input
      @change="failOTP = false"
      id="fifth"
      inputmode="numeric"
      maxlength="1"
      onkeypress="restrictKey(event)"
      onkeyup="clickEvent(this,'sixth')"
      pattern="[0-9]"
      type="text"
      v-model="numFive">
    <input
      @change="failOTP = false"
      id="sixth"
      inputmode="numeric"
      maxlength="1"
      onkeypress="restrictKey(event)"
      pattern="[0-9]"
      type="text"
      v-model="numSix">

    <p class="success-text" v-if="successOTP">Verifikasi berhasil. Harap tunggu sebentar...</p>
    <p class="fail-text" v-if="failOTP">Verifikasi gagal. Pastikan kode yang dimasukkan benar.</p>

    <br>

    <button
      :disabled="isLoadingBtn"
      class="confirm-otp disabled"
      type="button"
      v-if="numOne === null || numTwo === null || numThree === null || numFour === null
        || numFive === null || numSix === null || numOne === '' || numTwo === '' ||
        numThree === '' || numFour === '' || numFive === '' || numSix === '' ||
        successOTP">Konfirmasi</button>
    <button
      :disabled="isLoadingBtn"
      class="confirm-otp"
      type="submit"
      v-if="numOne !== null && numTwo !== null && numThree !== null && numFour !== null
        && numFive !== null && numSix !== null && numOne !== '' && numTwo !== '' &&
        numThree !== '' && numFour !== '' && numFive !== '' && numSix !== '' &&
        !successOTP">Konfirmasi</button>
  </form>

  <form @submit.prevent="handleReReqOtp('sms')" class="resend-form">
    <input class="hidden" type="text" v-model="phone" />

    <button
      :class="[successOTP ? 'disabled ' : '', 'resend-otp']"
      :disabled="isLoadingBtn"
      id="resendBtnOTP"
      type="submit">
      <span>
        Kirim ulang kode verifikasi
      </span>
    </button>

    <button
      :disabled="isLoadingBtn"
      class="disabled resend-otp hidden"
      id="disableResendBtnOTP"
      type="button">
      <span id="disableResendSpanOTP"></span>
    </button>
  </form>
</div>