<div class="hidden" id="RegisterStepFive">
  {% form 'customer_login', return_to: routes.root_url %}
    <input
      :value="customerData.email"
      class="hidden"
      name="customer[email]"
      type="email">
    <input
      :value="customerData.password"
      class="hidden"
      name="customer[password]"
      type="password">
    <p class="success-text">Pendaftaran berhasil.</p>
    <button @click="loading = true" type="submit">
      <span v-if="!loading">Mulai berbelanja</span>
      <span id="load-animate" v-if="loading">Tunggu sebentar</span>
    </button>
  {% endform %}
</div>