<div id="RegisterStepOne">
  <h1>Buat akun</h1>
  <form @submit.prevent="handleTempDataCustomer">
    <div class="field">
      <input
        name="fullname"
        placeholder="Nama lengkap"
        type="text"
        v-model="customerData.fullname">
      <label>
        Nama lengkap
      </label>
    </div>
    <div class="field">
      <input
        name="phone"
        onkeypress="restrictKey(event)"
        placeholder="No HP"
        type="text"
        v-model="customerData.phone">
      <label>
        No HP
      </label>
    </div>
    <div class="field">
      <input
        name="email"
        placeholder="Email (opsional)"
        type="text"
        v-model="customerData.email">
      <label>
        Email (opsional)
      </label>
    </div>
    <div class="field">
      <input
        name="birthdate"
        onfocus="(this.type='date')"
        placeholder="Tanggal Lahir"
        type="text"
        v-model="customerData.birthdate">
      <label>
        Tanggal Lahir
      </label>
    </div>
    <div class="field">
      <select
        @change="hideGenderLabel = false"
        id="gender"
        name="gender"
        v-model="customerData.gender">
        <option disabled value="">Jenis Kelamin</option>
        <option value="pria">Laki-laki</option>
        <option value="wanita">Perempuan</option>
      </select>
      <label v-if="hideGenderLabel">
        Jenis Kelamin
      </label>
    </div>

    <button type="submit">Lanjut</button>
  </form>
</div>
