<div id="RegisterStepOne">
  <h1>Buat akun</h1>

  <p class="fail-text" v-if="checkCustomer">Anda sudah terdaftar. Silahkan Login untuk masuk.</p>

  <form @submit.prevent="handleTempDataCustomer">
    <div class="field">
      <input
        name="fullname"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Harap isi Nama Lengkap')"
        pattern=".*\S+.*"
        placeholder="Nama Lengkap"
        required
        type="text"
        v-model="customerData.fullname">
      <label>
        Nama Lengkap
      </label>
    </div>
    <div class="field">
      <input
        name="phone"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Harap isi No HP')"
        onkeypress="restrictKey(event)"
        pattern=".*\S+.*"
        placeholder="No HP"
        required
        type="text"
        v-model="customerData.phone">
      <label>
        No HP
      </label>
    </div>

    <div class="field">
      <input
        id="CustomerPassword"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity(`Kata sandi harus memiliki panjang minimal 8
          karakter, berisi setidaknya satu angka, satu huruf besar, satu huruf kecil, dan
          satu karakter khusus.`)"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        pattern=".{8,}"
        placeholder="Kata Sandi"
        required
        type="password"
        v-model="customerData.password" />
      <label for="CustomerPassword">
        Kata Sandi
      </label>
    </div>

    <div class="field">
      <input
        name="email"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Harap masukkan Email')"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        placeholder="Email"
        required
        type="text"
        v-model="customerData.email">
      <label>
        Email
      </label>
    </div>
    <div class="field">
      <input
        class="flatdate-birth"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Harap isi Tanggal Lahir')"
        onkeypress="restrictKey(event)"
        pattern=".*\S+.*"
        placeholder="Tanggal Lahir"
        required
        type="text"
        v-model="customerData.birthdate">
      <label>
        Tanggal Lahir
      </label>
    </div>
    <div class="field">
      <select
        @change="hideGenderLabel = false"
        id="gender"
        name="gender"
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Harap isi Jenis Kelamin')"
        required
        v-model="customerData.gender">
        <option disabled value="">Jenis Kelamin</option>
        <option value="pria">Laki-laki</option>
        <option value="wanita">Perempuan</option>
      </select>
      <label v-if="hideGenderLabel">
        Jenis Kelamin
      </label>
    </div>

    <button type="submit">Lanjut</button>
  </form>
</div>
