/* The Modal (background) */
.home-pop-up {
  font-family: 'Nunito', sans-serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    max-width: 60vw;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: hidden;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      background-color: white;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }

      /* The Close Button */
      .close {
        position: absolute;
        top: 8px;
        right: 8px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 2px 12px 4px rgba(92, 92, 92, 0.16);

        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: #000000;
          font-size: 20px;
          font-weight: 600;
          line-height: 0;
          margin-left: 1.6px;

          &:hover,
          &:focus {
            color: red;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .modal-footer {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      button.foot-button {
        padding: 0 1.2rem;
        margin: 12px 0;
        height: 40px;
        background: #2a3588;
        border: 1.6px solid #2a3588;
        color: white;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Nunito', sans-serif;
        cursor: pointer;

        --border-offset: 0;
        &:hover {
          border: 1.6px solid #2a3588;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        &:hover::after {
          --border-offset: 0;
        }
      }
    }
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}
