.otp-login-app {
  h1 {
    font-size: 28px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  button {
    --border-offset: 0;

    &:hover {
      border: 1.6px solid #333333;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    &:hover::after {
      --border-offset: 0;
    }
  }

  button.select-otp {
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    color: #2a3588;
    background-color: white;
    font-weight: 400;
    border: 1px solid #2a3588;
    margin-bottom: 1.5rem;
  }

  button.select-otp.disabled {
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    box-shadow: none;
  }

  #OTPStepOne {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  #OTPStepTwo {
    .select-field {
      margin-top: 4rem;
      form {
        margin-top: 0;
      }
    }

    p.redirection-text {
      color: #a80000;
    }
  }

  #OTPStepThree {
    .input-otp {
      input {
        margin: 4px;
        height: 40px;
        width: 40px;
        border: none;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        border: 1px solid #5c5c5c;

        @media screen and (min-width: 768px) {
          margin: 6px;
          height: 48px;
          width: 48px;
        }

        &:focus {
          outline: none;
        }
      }
    }

    p.success-text {
      color: #176839;
      font-size: 18px;
      font-weight: 600;
      margin: 1.5rem 0 0 0;
    }

    p.fail-text {
      color: #a80000;
      font-size: 18px;
      font-weight: 600;
      margin: 1.5rem 0 0 0;
    }

    button.confirm-otp {
      width: 240px;
      height: 56px;
      color: white;
      background-color: #2a3588;
      font-size: 1.24rem;
      border: 1px solid #2a3588;
    }

    button.confirm-otp.disabled {
      color: white;
      background-color: #d6d6d6;
      border: 1px solid #d6d6d6;
      box-shadow: none;
    }

    form.resend-form {
      margin-top: 0;

      button.resend-otp {
        width: 240px;
        height: 56px;
        color: #2a3588;
        background-color: white;
        font-size: 1.24rem;
        border: 1px solid #2a3588;
        margin: 0rem 0 1.5rem;
      }

      button.resend-otp.disabled {
        color: #d6d6d6;
        border: 1px solid #d6d6d6;
        box-shadow: none;
      }
    }
  }
}
