.register-app {
  max-width: 60rem !important;

  h1 {
    font-size: 28px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  button {
    --border-offset: 0;

    &:hover {
      border: 1.6px solid #333333;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    &:hover::after {
      --border-offset: 0;
    }
  }

  button.select-otp {
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    color: #2a3588;
    background-color: white;
    font-weight: 400;
    border: 1px solid #2a3588;
    margin-bottom: 1.5rem;
  }

  button.select-otp.disabled {
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    box-shadow: none;
  }

  select {
    font-family: 'Nunito', sans-serif;
  }

  p.success-text {
    color: #176839;
    font-size: 18px;
    font-weight: 600;
    margin: 1.5rem 0 0 0;
  }

  p.fail-text {
    color: #a80000;
    font-size: 18px;
    font-weight: 600;
    margin: 1.5rem 0 0 0;
  }

  #RegisterStepOne {
    max-width: 47.8rem !important;
    margin: 0 auto;
  }

  #RegisterStepTwo {
    .select-field {
      margin-top: 4rem;
      form {
        margin-top: 0;
      }
    }
  }

  #RegisterStepThree {
    .input-otp {
      input {
        margin: 4px;
        height: 40px;
        width: 40px;
        border: none;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        border: 1px solid #5c5c5c;

        @media screen and (min-width: 768px) {
          margin: 6px;
          height: 48px;
          width: 48px;
        }

        &:focus {
          outline: none;
        }
      }
    }

    button.confirm-otp {
      width: 240px;
      height: 56px;
      color: white;
      background-color: #2a3588;
      font-size: 1.24rem;
      border: 1px solid #2a3588;
    }

    button.confirm-otp.disabled {
      color: white;
      background-color: #d6d6d6;
      border: 1px solid #d6d6d6;
      box-shadow: none;
    }

    form.resend-form {
      margin-top: 0;

      button.resend-otp {
        width: 240px;
        height: 56px;
        color: #2a3588;
        background-color: white;
        font-size: 1.24rem;
        border: 1px solid #2a3588;
        margin: 0rem 0 1.5rem;
      }

      button.resend-otp.disabled {
        color: #d6d6d6;
        border: 1px solid #d6d6d6;
        box-shadow: none;
      }
    }
  }

  #RegisterStepFour {
    form {
      .flex-1 {
        flex: 1 1 0%;
      }

      .disable-input {
        color: #d6d6d6;
        border: 1px solid #d6d6d6;
        display: flex;
        align-items: center;
        height: 45px;
        margin: 2rem 0 0 0;

        p {
          padding: 0 2rem;
          margin: 0;
          font-size: 16px;
        }
      }

      .two-col {
        display: flex;
        margin: 2rem 0 0 0;
        gap: 10px;

        .field {
          margin: 0;
        }

        .disable-input {
          margin: 0;
        }
      }

      .textarea-field {
        margin: 2rem 0 0 0;

        textarea {
          resize: none;
          padding: 1.2rem 2rem;
          width: 100%;
          font-size: 16px;
          font-family: 'Nunito', sans-serif;
          border: 1px solid #333333;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }

      .image-field {
        margin: 2rem 0 0 0;
        border: 1px dashed #333333;
        min-height: 112px;
        overflow: hidden;

        label {
          cursor: pointer;

          .input-image {
            width: 100%;
            padding-top: 2.8rem;

            .image-viewer {
              margin-top: 12px;

              img {
                margin-bottom: 2.8rem;
                width: 100%;
                max-width: 480px;
                height: auto;
              }

              p {
                margin-top: 0;
                margin-bottom: 2.8rem;
              }
            }
          }

          input[type='file'] {
            display: none;
          }
        }
      }

      button {
        width: 184px;

        &:hover {
          border: 1px solid #333333;
        }

        &:focus {
          background-color: #a7afec;
          border: 1px solid #a7afec;
        }
      }
    }
  }

  #RegisterStepFive {
    button {
      &:focus {
        background-color: #a7afec;
        border: 1px solid #a7afec;
      }
    }
  }

  span#load-animate {
    &::after {
      content: ' .';
      animation: dots 1s steps(5, end) infinite;
    }

    @keyframes dots {
      0%,
      20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      40% {
        color: white;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      60% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      80%,
      100% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
      }
    }
  }
}

/* flatpickr style override */
.flatpickr-calendar {
  border: 1px solid lightgray !important;

  .flatpickr-months {
    span.flatpickr-next-month,
    span.flatpickr-prev-month {
      pointer-events: none !important;
    }

    .flatpickr-month {
      height: 48px !important;

      select.flatpickr-monthDropdown-months {
        margin: 0 20px 0 0 !important;
        border: 1px solid lightgray !important;
        padding: 0 !important;
      }
    }
  }
}
